<h1>My Friends</h1>

<table class="table table-striped" >
  <thead>
  <tr>
    <th>ID</th><br>
    <th></th>
    <th>Name</th>
  </tr>
  </thead>

  <tbody>
  <% if @friends %>
    <% @friends.each do |friend| %>
        <tr>
          <td><%= friend.friend_id %></td>
          <td></td>
          <td><%= friend.fname.capitalize %></td>
        </tr>
    <% end %>
  <% end %>
  </tbody>
</table>

<br>
<p>
  <%= link_to 'Add Friends', users_path %>
</p>
